/* 
 .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.a:hover ~ .b{
    
}  */
/* div{
    min-width: 100px;
    min-height: 100px;
    padding: 30px;
    border: 1px solid black;

} */
.box {
  display: block;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 60px;
  margin-right: 60px;
}
